.cartao-personagem 
{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  display: none;
}

.cartao-personagem .cartao-topo
{
    /* background-color: red; */
    padding: 30px 40px 0;
}

.cartao-personagem .nome
{
    margin-bottom: 5px;
}

.cartao-personagem .tipo
{
    font-size: 12px;
    background-color: #FFF;
    opacity: 0.7;
    padding: 2px 10px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.cartao-personagem .detalhes
{
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-personagem .cartao-imagem
{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}

.cartao-personagem img
{
    max-height: 100%;
}

.cartao-personagem .cartao-informacoes
{
    background-color: #FFF;

    display: flex;
    justify-content: space-between;

    padding: 80px 30px 50px;

    margin-top: -70px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.cartao-personagem .cartao-informacoes h3
{
    font-size: 20px;

    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}

.cartao-personagem .cartao-informacoes 
.status, 
.cartao-personagem .cartao-informacoes 
.habilidades
{
    padding: 0 10px;
    width: 180px;
    text-transform: capitalize;
}

.cartao-personagem .cartao-informacoes 
.habilidades ul li, 
.cartao-personagem .cartao-informacoes 
.status ul li
{
    border-bottom: 1px solid #c3c4c5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.cartao-personagem.aberto
{
    display: block;
}

/* Estilos de cor de cada tipo de Pokémon */

.tipo-curandeira
{
    background-color: #ACEFB1;
}

.tipo-fogo
{
    background-color: #E86441;
}

.tipo-fire
{
    background-color: #862769;
}

.tipo-robo
{
    background-color: #FDC57C;
}

.tipo-luz
{
    background-color: #CCC459;
}

.tipo-pedra
{
    background-color: #b58b5f;
}